.site-heading-lower{
    font-family: 'courier New, Courier, monospace;'
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke !important;
} 
.myimage{
    width: 50% !important;
}
.myitalics{
    font-style: italic;
}